<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="../public/javascripts/parseCSV.js"></script>
  </head>
  <body>
  	<form>
  		<p>URL: <input type="input"></p>
  		<p>Key: <input type="input"></p>
  		<p>Secret: <input type="input"></p>
  		<button type="Submit">Submit</button>
  	</form>
  </body>
</html>
